.screen {
  display: flex;
  flex-direction: column;
}

.welcome {
  flex: 1;
}

/* Footer */

.footer {
  background-color: var(--primary);
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  font-size: 0.875rem;
  line-height: 14px;
  color: var(--black);
}

.footer .icons-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.icons-footer .new-meeting {
  text-align: center;
}

.icons-footer .perfil {
  text-align: center;
}

.icons-footer .my-meetings {
  text-align: center;
}

.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (min-width: 992px) {
  .footer{
    display: none;
  }
}
