.imagen-container {
  height: 252px;
  width: 100%;
  background-color: var(--primary-light);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.message h3 {
  text-align: center;
  padding: 2rem 0;
}
.message img {
  height: 198px;
}

.reunion-options {
  margin-top: 2rem;
  border: 1px solid #3c9090;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.reunion-title {
  font-size: 1rem;
  color: var(--secondary-dark);
  text-align: center;
  margin: 2rem 0;
}

.space {
  display: none;
}

.flecha {
  position: relative;
  height: 40px;
  width: 50px;
  border: solid 3px var(--primary);
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
}

.flecha:after {
  position: absolute;
  top: 6px;
  right: -12px;
  width: 21px;
  height: 21px;
  border-left: solid 3px var(--primary);
  border-top: solid 3px var(--primary);
  transform: rotate(134deg) skewX(-10deg) skewY(-10deg);
  content: '';
}

.country-option {
  display: flex;
  gap: 1rem;
}

.line {
  background-color: #4ecb71;
  height: 10px;
  border-radius: 8px;
}

.country {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--secondary-dark);
  padding: 0.5rem 0.5rem;
  color: var(--white);
  border-radius: 6px;
  font-size: 0.5rem;
  flex-grow: 1;
}
.country p {
  text-align: center;
}

.reunion-options label {
  padding: 10px;
}
.time-option {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  padding: 10px 0;
}

.time {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.hour {
  padding-top: 0.5rem;
  text-align: center;
  font-size: small;
}

.ms {
  font-size: 14px;
  text-align: center;
  font-weight: 200;
  color: var(--black);
}
.btn {
  border: none;
  background-color: var(--secondary);
  min-width: 120px;
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
}

.foot {
  margin: 0 auto;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  text-align: center;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .country {
    font-size: 0.8rem;
  }
  .flecha {
    justify-self: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .message {
    display: flex;
    height: 352px;
    justify-content: center;
    gap: 4rem;
    background-color: var(--primary-light);
  }
  .message h3 {
    align-self: center;
  }
  .imagen-container {
    height: 352px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: auto;
  }
  .message img {
    height: 208px;
    align-self: flex-end;
  }
  .reunion-options {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid #3c9090;
    padding: 1rem;
    gap: 1rem;
  }
  .country-option {
    display: flex;
    gap: 15px;
  }
  .country {
    flex-grow: 1;
  }
  .space {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 6px;
    color: var(--black);
    text-align: center;
    vertical-align: middle;
    max-width: 60px;
    order: 9999;
  }
  .time-option {
    display: flex;
    gap: 15px;
  }
  .time {
    flex-grow: 1;
  }
  .label-option {
  }

  .flecha {
    grid-column: auto;
    justify-self: center;
    order: 9999;
  }
  .foot {
    max-width: 700px;
  }
  .ms {
    font-size: 1rem;
  }
  .btn {
    border: none;
    width: 250px;
    border-radius: 10px;
  }
}
