.confirmation {
  background: #FFFEF5;
  height: 100%;
}

.header {
  position: absolute;
  width: 100%;
  background-color: #ffc324;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.headertitle {
  font-family: Reem Kufi;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 22px;
  text-transform: uppercase;
  padding-left: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.headericons {
  display: none;
}

.headerlink {
  display: flex;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.headerlink > h3 {
  margin-left: 20px;
  padding: 0 7px;
}

.headerlink > .dashed {
  text-decoration: dashed;
}

.headerlink > .logout {
  color: #22302C;
  background-color:#62CBC5;
  border-radius: 16px;
  padding: 4px 8px;
}

.back {
  display: none;
}

.title {
  padding-top: 110px;
  display: flex;
  justify-content: center;
  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  color: #22302C;
}

.section {
  display: flex;
  justify-content: center;
  padding-top: 45px;
}

.jam {
  display: flex;
  flex-direction: column;
  background: #FEFEFE;
  border: 2px solid #3C9191;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.jamtitle {
  padding-top: 20px;
  padding-left: 20px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
}

.jaminfo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.jamtext {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  padding: 7px 15px;  
}

.line {
  padding: 0 20px;
}

.jamdate {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3C9191;
  padding: 0 20px;
}

.subtitle {
  padding-top: 170px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.copyNShare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 750px;
  align-items: center;
  padding: 16px;
  background: #FFFFFF;
  margin-bottom: 70px;

  border: 1px solid #FFC324;
  box-sizing: border-box;
  border-radius: 8px;
}

.camp {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 135% */
  display: flex;
  align-items: center;
  color: #22302C;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}

.linkinput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 8px;

  position: static;
  width: 706px;
  height: 51px;
  left: 0px;
  top: 41px;

  /* secundario oscuro */

  border: 1px solid #3C9191;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside auto layout */
  flex-grow: 0;
  margin: 8px 0px;
  cursor: copy;
}

.linkinput::placeholder {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  opacity: 1;
  display: flex;
  align-items: center;
  color: #2684FC;
}

.shareicon {
  position: absolute;
  top: 717px;
  right: calc(50% - 335px);
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 8px;

  position: static;
  width: 706px;
  height: 51px;
  left: 0px;
  top: 41px;

  /* secundario oscuro */

  border: 1px solid #3C9191;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}

.plusbutton {
  font-family: Work Sans;
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;

  position: absolute;
  /* mango principal */

  background: #FFC324;
  /* Elevation 2 */

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 64px;
  
  width: 18.33px;
  height: 14.4px;
  right: calc(50% - 350px);
  bottom: 88px;
  }




@media (max-width: 875px) {

  .headertitle {
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: none;
    padding-left: 10px;
  }

  .headericons {
    display: flex;
    padding-right: 25px;
  }

  .headericon {
    width: 57%;
    padding: 0 5px;
  }

  .headerlink {
    display: none;
  }

  .back {
    display: flex;
    top: 87px;
    right: 23px;
    position: absolute;
  }

  .backtext {
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    padding-left: 5px;
    color: #3C9191;
  }
}