.container {
  padding: 0 2rem;
}

.header {
  background-color: var(--primary);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-family: 'Reem Kufi', sans-serif;
}

.nav {
  position: absolute;
  visibility: hidden;
  right: 0;
  background-color: var(--white);
  width: 100%;
}

.nav h2 {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  list-style: none;
  padding: 2rem;
}

.menu li {
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.menu li:last-child {
  display: none;
}

.menu li a {
  color: var(--secondary-dark);
  text-decoration: none;
}
.menu li a:hover {
  color: var(--black);
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .header {
    display: none;
  }

  .nav {
    display: flex;
    visibility: visible;
    width: 100%;
    background-color: var(--primary);
    align-items: center;
  }

  .nav h2 {
    position: static;
    height: 61px;
    left: 90px;
    top: 18px;

    font-family: 'Reem Kufi', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 22px;
    text-align: center;

    display: flex;
    align-items: center;

    color: #22302c;

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 42px;

    visibility: visible;
  }

  .items_nav {
    display: flex;
    visibility: visible;
    background-color: #ffc324;
  }

  .menu {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .menu li {
    display: flex;
    padding-bottom: 1rem;
    border-bottom: none;
    font-size: 16px;
    padding: 0px;
    width: fit-content;
    width: -moz-fit-content;
  }

  .menu li:first-child {
    display: none;
  }

  .menu li:last-child {
    display: list-item;
  }

  .menu li a {
    color: var(--black);
    border-bottom: 2px solid transparent;
  }

  .menu li a:hover {
    border-bottom: 2px solid var(--secondary-dark);
  }

  .menu li button {
    width: 85px;
    height: 34px;
    left: 1191px;
    background: #62cbc5;
    border-radius: 16px;
    display: list-item;
    border: none;
  }
}
