@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Reem+Kufi&family=Work+Sans:wght@400;500;600&display=swap');

.signin {
  display: flex;
  height: 100vh;
}

.header {
  display: none;
}

.mangosection {
  width: 50vw;
  background-color: #62cbc5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mangoimage {
  height: 400px;
  width: 400px;
}

.mangotitle {
  font-family: Reem Kufi;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

.formsection {
  width: 50vw;
  background-color: #fffef5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formtitle {
  font-family: Reem Kufi;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #22302c;
  margin-bottom: 68px;
  white-space: nowrap;
}

.formdata {
  margin-left: -14px;
  list-style-type: none;
}

.datatitle {
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #3c9090;
  display: block;
}

.passVisibility {
  width: 22px;
  height: 19px;
  position: relative;
  cursor: pointer;
  top: -14%;
  left: 179px;
}

.eye {
  width: 5.836587905883789px;
  border-radius: 0px;
  right: 8px;
  position: absolute;
  top: 7px;
}

.haveacc {
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #22302c;
  display: inline-flex;
}

.createacc {
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #b1830a;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

@media (max-width: 800px) {
  .header {
    display: block;
    position: absolute;
    width: 100vw;
    background-color: #ffc324;
    padding: 20px;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }
  .mangosection {
    display: none;
  }
  .formsection {
    width: 100vw;
  }
  .formtitle {
    font-family: Reem Kufi;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
  }
  .passVisibility {
    right: 9%;
  }
  .haveacc {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
  .createacc {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
}
