.welcome {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--secondary);
  min-height: 100vh;
}

.container {
  padding: 0 2rem;
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.name {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2.2rem;
}
.session {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  font-weight: 400;
  height: 100%;
  text-align: center;
  padding: 0 2rem;
}

.img-logo {
  width: 60%;
}

.title {
  text-align: center;
  word-wrap: initial;
  font-size: 24px;
}

.btn {
  color: var(--black);
  background-color: white;
  border: none;
  font-size: 20px;
  width: 70%;
  height: 48px;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s ease all;
}

.btn:active {
  background-color: var(--primary-light);
}

.btnLogin {
  background-color: var(--primary);
}

.btnRegister {
  background-color: transparent;
  border: 1px solid var(--black);
}

.btnRegister:active {
  background-color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .img-logo {
    width: 40%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .session {
    justify-content: center;
    display: flex;
    background-color: var(--white);
    padding: 0 5rem;
  }
}
